.info_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_content {
  background: #fce5c1;
  background-size: cover;
  border: black solid 0.12rem;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30rem;
}
.about {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
}
.information {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
.colorinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dangerLevel0 {
  color: rgb(89, 204, 74);
}
.dangerLevel1 {
  color: rgb(177, 44, 44);
}
.dangerLevel2 {
  color: rgb(30, 30, 30);
}
.close_button {
  position: relative;
  height: 28px;
  width: 28px;
  background-image: url("https://cdn.discordapp.com/attachments/746881770762534912/1223450124806787252/boton-eliminar.png?ex=6619e5b8&is=660770b8&hm=9b2e1db7bc08fb56349b0e6f95ec3018e565b1814bda4c57b9e459aca7f6892a&");
  background-size: cover;
  top: 0;
  left: 45%;
  cursor: pointer;
  border-radius: 1.5rem;
}
