.contcont {
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgb(197, 197, 197);
  border: black solid 0.1rem;
  max-width: min-content;
  border-radius: 1rem;
}
.defaultBackground {
  background-color: white;
}
.dangerLevel0 {
  background-color: rgb(89, 204, 74);
}
.dangerLevel1 {
  background-color: rgb(177, 44, 44);
}
.dangerLevel2 {
  background-color: rgb(30, 30, 30);
}
.container {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  border: black solid 0.12rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(228, 228, 228);
}
.titlecont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.blank{
  padding-right: 2rem;
}
.report{
  background-image: url("../../assets/bandera.png");
  background-size: contain;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.edit{
  background-image: url("../../assets/boligrafo.png");
  background-size: contain;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}
.img {
  padding: 1rem;
  height: 500px;
  width: 500px;
}
.cardinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 1rem;
}
.birdinfo {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.desc {
  display: flex;
  max-height: 100px;
  width: 300px;
  overflow: auto;
  text-align: justify;
}
.desc::-webkit-scrollbar {
  display: none;
}
.textformat{
  font-weight: bold;
}
.userinfo {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .contcont {
    margin: 0.5rem; 
    border-radius: 0.5rem;
  }
  
  .container {
    padding: 0.5rem; 
  }
  
  .title {
    font-size: large; 
  }
  
  .img {
    width: 300px; 
    height: auto; 
  }

  .cardinfo {
    flex-direction: column;
  }
  
  .desc {
    margin-top: 0.2em; 
  }
}