.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  border: black solid 0.12rem;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 92vh;
}

.close_button {
  position: relative;
  height: 32px;
  width: 32px;
  background-image: url("src/assets/boton-eliminar.png");
  background-size: cover;
  top: 0;
  left: 93%;
  cursor: pointer;
  border-radius: 1.5rem;
}

@media screen and (max-width: 768px) {
  .close_button{
    left: 90%;
  }
}
